/* Variáveis */
:root {
    --textColor: rgb(69, 197, 75);
    --backgroundColor: #000;
    --backgroundColor2: #2d3f50;
    --decorationColor: #e8c220;
}

@import url('https://fonts.googleapis.com/css2?family=Monda:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Reset */
body, p, a, ul, li, h1, h2{
    margin: 0px;
    padding 0px;
    text-decoration: none;
    
}

*{
    margin: 0px;
    padding: 0px;
}

/* Estilos Básicos */
body{
    overflow-x: hidden;
    background-image: url(imgs/bg.jpg);
    background-attachment: fixed;
    color: white;
}

/* Mobile */

#line-header{
    padding: 3px;
    background-color: var(--textColor);
}
/* ----------[HOME PAGE]---------- */
#photo-user{
    width: 100%;
    border-radius: 150px;
}

#section1{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 100%;
    padding: 65px 0px 25px 0px; 
    margin: 15px 30px 0px;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.4) 30%,rgba(0,0,0,0.4) 76%,rgba(0,0,0,0.4) 100%);
}

#section1 > article{
    grid-column: 3/10;
    text-align: center;
    font-family: 'Monda', sans-serif;
    margin-bottom: px;
}

#section1 > article > h4{
    font-size: 41px;
    color: var(--textColor);
}

#section2{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0px 0px 49px 0px;
    margin: 0px 30px 15px;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.4) 30%,rgba(0,0,0,0.4) 76%,rgba(0,0,0,0.4) 100%);
}
#section2 > article {
    grid-column: 3/11;
    font-size: 18px;
    color: white;
}


/* ----------[SOBRE]---------- */
#section3{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: var(--textColor);
    padding-bottom: 20px;
}

#section3 > article{
    grid-column: 2/12;
    text-align: center;
    
}

#photo-sobre{
    width: 100%;
    max-width: 400px;
    margin-right: 15px;
    margin-bottom: 15px;
    height: auto;
    
}

#sobre{
    background-color: black;
    border-radius: 50px;
    margin: 0px 50px 0px 50px;
}

#section3 > article > p{
    color: black; 
    text-align: justify;
}

/* ----------[PORTFÓLIO]---------- */
#section4{
    background-color: black;
    grid-template: repeat(4, 1fr);
}

#port{
    text-align: center;
    background-color: var(--textColor);
    border-radius: 50px;
    margin: 0px 70px 0px 70px;
}

#section4 > article{
    grid-column: 1/12;
    grid-template: repeat(4, 1fr);
}

/* ----------[CURIOSIDADES]---------- */
#section5{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: var(--textColor);
}

#section5 > article{
    grid-column: 2/12;
    text-align: center;
}

#curi{
    background-color: black;
    border-radius: 50px;
    margin: 0px 40px 0px 40px;
}

#section5 > article > p{
    color: black;
    text-decoration: bold;
    font-size: 19px;
    text-align: left;
}

.link-curi{
    color: #ddd;
}

/* ----------[CONTATO]---------- */
#section6{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: black;
}

#section6 > article{
    grid-column: 2/12;
    text-align: center;
}

#contato{
    background-color: var(--textColor);
    border-radius: 50px;
    margin: 0px 60px 0px 60px;
}

#section6 > article > p{
    color: black;   
    text-align: justify;
}

.icons{
    width: 100%;
    max-width: 50px;
    height: auto;
    padding-bottom: 20px;
}

/* ----------[FOOTER]---------- */
footer{
    font-size: 14px;
    color: white;
    text-align: center;
    background-color: rgb(8,8,8);
    padding: 15px
}

/* Tablets pequenos */
@media screen and (min-width: 620px){
    
/* ----------[HOME PAGE]---------- */
    #section1 > article{
        grid-column: 4/10;
    }
    
    #section2 > article{
        grid-column: 4/10;
    }
    
/* ----------[SOBRE]---------- */
    #sobre{
        margin: 0px 200px 0px 200px;
    }
    
/* ----------[SOBRE]---------- */
    #port{
        margin: 0px 235px 0px 235px;
    }
    
/* ----------[CURIOSIDADES]---------- */ 
    #curi{
        margin: 0px 170px 0px 170px;
    }
    #section5 > article > p{
        margin-left: 70px;
        text-align: justify;
    }
    
/* ----------[CONTATO]---------- */
    #contato{
        margin: 0px 200px 0px 200px;
    }

/* Telas grandes e notebooks */
@media screen and (min-width: 960px){
    
    /* ----------[HOME PAGE]---------- */
    #section1 > article{
        grid-column: 4/10;
    }
    #photo-user{
        width: 100%;
        max-width: 250px;
        height: auto;
        border-radius: 200px;
    }
    
    #section2 > article{
        grid-column: 4/10;
    }
    
/* ----------[SOBRE]---------- */
    #sobre{
        margin: 0px 250px 0px 250px;
    }
    
/* ----------[SOBRE]---------- */
    #port{
        margin: 0px 300px 0px 300px;
    }
    
/* ----------[CURIOSIDADES]---------- */ 
    #curi{
        margin: 0px 240px 0px 240px;
    }
    #section5 > article > p{
        margin-left: 190px;
        text-align: justify;
    }
    
/* ----------[CONTATO]---------- */
    #contato{
        margin: 0px 240px 0px 240px;
    }
}


/* Desktops */
@media screen and (min-width: 1200px){
       
    /* ----------[HOME PAGE]---------- */
    #section1 > article{
        grid-column: 4/10;
    }
    #photo-user{
        width: 100%;
        max-width: 223px;
        height: auto;
        border-radius: 200px;
    }
    
    #section2 > article{
        grid-column: 4/10;
        padding: 24px;
    }
    
/* ----------[SOBRE]---------- */
    #sobre{
        margin: 0px 350px 0px 350px;
    }
    
/* ----------[SOBRE]---------- */
    #port{
        margin: 0px 400px 0px 400px;
    }
    #section3 > article > p{
        font-size: 20px
    }
    
/* ----------[CURIOSIDADES]---------- */ 
    #curi{
        margin: 0px 350px 0px 350px;
    }
    #section5 > article > p{
        margin-left: 240px;
        text-align: justify;
    }
    
/* ----------[CONTATO]---------- */
    #contato{
        margin: 0px 350px 0px 350px;
    }
} 
}